################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Logging/bin/Debug/netstandard2.0
/Logging/obj
/Logging/.vs/Underpayment Logging
